#root {
  max-width: 1280px; /*set maximum width */
  margin: 0 auto; /*centers horizontally*/
  padding: 2rem; /*adds padding */
  text-align: center; /*aligns text and child elements to center */
}

.logo {
  height: 6em; 
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms; /*time it takes to transition changes in 'filter' */
}
/*hoover element to logo (shadow) */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg); /*start with no rotation */
  }
  to {
    transform: rotate(360deg); /*complete rotation */
  }
}

/*spinning annimation on a condition*/
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*stylying with class "card" */
.card {
  padding: 2em;
}

.read-the-docs { 
  color: #888; /*gray colored text  */
}

/*main styling for banner */
.centered-banner {
  display: flex;
  justify-content: center;  /* Horizontally center */
  align-items: center;      /* Vertically center */
  height: 100vh;            /* Make the div take full height of the screen */
  font-size: 6rem;          /* Large text */
  font-family: 'Dancing Script', cursive;
  background: linear-gradient(to right, #2b2d8a, #4c6bb8);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
